@import "../abstract/variables";

.home-header {
  padding: 0 1.5rem;
  #top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1.5rem;

    .menu-welcome {
      img {
        margin-right: 1rem;
      }
    }

    .basket {
      width: 3rem;
      height: 3rem;
      padding: 0.75rem;
      border-radius: 50%;
      box-shadow: 0px 2px 1px $shadow-1, 0px 0px 1px $shadow-2;
    }
  }

  #search {
    display: flex;
    gap: 0.25rem;
    margin-top: 2rem;

    .search-input {
      position: relative;
      width: 100%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;

        content: "";

        background: url("../../imgs/search.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1rem;
        height: 1rem;

        margin: 1.25rem 1rem 1.25rem 1.5rem;
      }

      input {
        padding-left: 3.5rem;
      }
    }
    .filter-config {
      background-color: $filter-bg;
      border-radius: $border-radius;
      padding: 1.25rem 0.5rem;
    }
  }
}