// Colors
$primary: #FFA451;
$primary-dark: #F08626;
$primary-light: #FFF2E7;
$shadow-1: rgba(0, 0, 0, 0.05);
$shadow-2: rgba(0, 0, 0, 0.25);
$white: #FFFFFF;
$title-color: #27214D;
$categorie-color: #253F66;
$text-color: #5D577E;
$input-bg: #F7F5F5;
$input-text: rgba(194, 189, 189, 0.7);
$red: #FF3B30;
$filter-bg: #F7F7FC;
$tags-bg: #FAFAFA;
$shadow-card: rgba(32, 32, 32, 0.05);
$card-1: #FFFCF2;
$card-2: #FEF4F4;
$card-3: #F1EFF6;

// Fonts
$font-family: "Poppins", sans-serif;

// Border
$border-radius: 0.625rem;