// Colors
$primary: #FFA451;
$primary-dark: #F08626;
$shadow: rgba(0, 0, 0, 0.2);
$white: #FFFFFF;
$title-color: #27214D;
$text-color: #5D577E;
$input-bg: #F7F5F5;
$input-text: rgba(194, 189, 189, 0.7);
$red: #FF3B30;

// Fonts
$font-family: "Poppins", sans-serif;

// Border
$border-radius: 0.625rem;