html, body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#splash-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#splash-screen.d-none {
  display: none;
}

.button {
  width: 100%;
  text-align: center;
  height: 3.5rem;
  background-color: #FFA451;
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.625rem;
  transition: 0.3s background-color;
}
.button:hover {
  background-color: #F08626;
  cursor: pointer;
}

input {
  border: none;
  border-radius: 0.625rem;
  box-sizing: border-box;
  color: rgba(194, 189, 189, 0.7);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  padding: 0 1rem;
  height: 3.5rem;
  background-color: #F7F5F5;
}
input::-moz-placeholder {
  color: rgba(194, 189, 189, 0.7);
}
input:-ms-input-placeholder {
  color: rgba(194, 189, 189, 0.7);
}
input::placeholder {
  color: rgba(194, 189, 189, 0.7);
}
input.error {
  border: 1px solid #FF3B30;
}

.home-header {
  padding: 0 1.5rem;
}
.home-header #top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.home-header #top-header .menu-welcome img {
  margin-right: 1rem;
}
.home-header #top-header .basket {
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.home-header #search {
  display: flex;
  gap: 0.25rem;
  margin-top: 2rem;
}
.home-header #search .search-input {
  position: relative;
  width: 100%;
}
.home-header #search .search-input::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url("../../imgs/search.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
  margin: 1.25rem 1rem 1.25rem 1.5rem;
}
.home-header #search .search-input input {
  padding-left: 3.5rem;
}
.home-header #search .filter-config {
  background-color: #F7F7FC;
  border-radius: 0.625rem;
  padding: 1.25rem 0.5rem;
}

#tags {
  background-color: #FAFAFA;
  margin-top: 1.125rem;
  padding: 0.25rem 0;
  overflow-x: auto;
}
#tags ul {
  display: flex;
  gap: 0.5rem;
}
#tags ul li {
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  white-space: nowrap;
  border-radius: 0.625rem;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}
#tags ul li:first-of-type {
  margin-left: 1.5rem;
}
#tags::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cards {
  margin-top: 1rem;
  display: grid;
  gap: 1.5rem;
}
.cards li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.25rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
  position: relative;
}
.cards li .heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.cards li .combo {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
}
.cards li h2 {
  font-weight: 500;
  font-size: 0.875rem;
  white-space: nowrap;
  letter-spacing: -1px;
}
.cards li .price {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.cards li .price .currency-value {
  color: #F08626;
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.cards li .price .add {
  background-color: #FFF2E7;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#recommended {
  margin-top: 2.25rem;
  padding: 0 1.5rem;
}
#recommended h1 {
  font-size: 1.125rem;
  position: relative;
  padding-bottom: 1rem;
}
#recommended h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFA451;
  height: 2px;
  width: 3.5rem;
}
#recommended .cards {
  grid-template-columns: repeat(2, 1fr);
}

#categories {
  margin-top: 2.5rem;
}
#categories .titles {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: #253F66;
  padding: 0 1.5rem;
}
#categories .titles li {
  padding-bottom: 1rem;
  opacity: 0.4;
}
#categories .titles li:first-of-type {
  opacity: 1;
  position: relative;
  color: #27214D;
}
#categories .titles li:first-of-type::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 2.375rem;
  background-color: #FFA451;
}
#categories .cards-container {
  overflow-x: auto;
}
#categories .cards-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#categories .cards-container .cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#categories .cards-container .cards li:first-of-type {
  margin-left: 1.5rem;
}

#welcome {
  height: 100%;
  max-height: 100vh;
}
#welcome .banner {
  height: 60%;
  background-color: #FFA451;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
}
#welcome .banner img {
  width: 100%;
}
#welcome .content {
  height: 40%;
  background-color: #FFFFFF;
  padding: 2.5rem 1.5rem 0;
}
#welcome .content div {
  padding-right: 1.75rem;
}
#welcome .content div h1 {
  font-weight: bold;
  font-size: 1rem;
  color: #27214D;
  margin-bottom: 0.5rem;
}
#welcome .content div p {
  font-size: 1rem;
  color: #5D577E;
  margin-bottom: 5rem;
}

html, body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#authentication {
  height: 100%;
  max-height: 100vh;
}
#authentication .banner {
  height: 60%;
  background-color: #FFA451;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
}
#authentication .banner img {
  width: 100%;
}
#authentication .content {
  height: 40%;
  background-color: #FFFFFF;
  padding: 2.5rem 1.5rem 0;
}
#authentication div h1 {
  font-weight: bold;
  font-size: 1rem;
  color: #27214D;
  margin-bottom: 1rem;
}
#authentication div input {
  margin-bottom: 3.625rem;
}

#home {
  display: flex;
  flex-direction: column;
}
#home main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#home main #categories {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#home main #categories .cards-container {
  flex: 1;
}
#home main #categories .cards-container li:nth-of-type(1) {
  background-color: #FFFCF2;
}
#home main #categories .cards-container li:nth-of-type(2) {
  background-color: #FEF4F4;
}
#home main #categories .cards-container li:nth-of-type(3) {
  background-color: #F1EFF6;
}/*# sourceMappingURL=style.css.map */